name: CD to VPS
on:
  workflow_run:
    workflows: ["Node.js CI"]
    branches: [main]
    types: 
      - completed
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Pulling from GIT, building images and running them
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.REMOTE_PORT }}
        script: |
          cd ${{ secrets.REMOTE_PATH }}
          git pull
          cd ./backend
          chmod +x ./restart.sh
          ./restart.sh
